.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    /*background-image: url("/public/backgrounds/chat_background.svg");*/
    /*background: #1E1E22;*/
    height: 100vh;
}

.messageContainer {
    background-image: url("/public/backgrounds/chat_background.svg");
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}

.errorMessageContainer {
    color: red;
}