.container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  background-color: #2a2b31;
}
.user-representation-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-representation-main {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  row-gap: 8px;
}
