.disabled {
    opacity: 0.5;
    background-color: #666 !important;
}

.disabled:hover {
    opacity: 0.7;
}

.endCall {
    background-color: #ff4444 !important;
}

.endCall:hover {
    background-color: #cc0000 !important;
}

.button {
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    background-color: #666;
}

.button:hover {
    transform: scale(1.1);
}

.controlPanel {
    height: fit-content;
    padding-left: 20%;
    padding-right: 20%;
    background-color: black;
}
