.disabled {
    opacity: 0.5;
    background-color: #666 !important;
}

.disabled:hover {
    opacity: 0.7;
}

.endCall {
    background-color: #ff4444 !important;
}

.endCall:hover {
    background-color: #cc0000 !important;
}

.button {
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    background-color: #666;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
}

.controlPanel {
    height: fit-content;
    padding-left: 20%;
    padding-right: 20%;
    background-color: black;
}