/*

.disabled {
    opacity: 0.5;
    background-color: #666 !important;
}

.disabled:hover {
    opacity: 0.7;
}
*/
.endCall {
    background-color: #ff4444 !important;
}

.endCall:hover {
    background-color: #cc0000 !important;
}

.button {
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    background-color: #54565c;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.controlPanel {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: transparent;
    padding: 10px 0; 
}