.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    /*background-image: url("/public/backgrounds/chat_background.svg");*/
    /*background: #1E1E22;*/
    min-height: 100vh;
}