.customButton {
    border: none;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    box-sizing: border-box;
}

.label {

}

.defaultButtonOrange {
    background-color: var(--main-color-orange);
    color: var(--main-text-black);
    width: min(500px, 25vw);
    height: auto;
    padding-top: 10px;
    padding-inline: 15px;
    padding-bottom: 10px;
    font-size: 17px;
}

.defaultButtonBlue {
    background-color: var(--main-color-blue);
    color: #fff;
    width: min(300px, 15vw);
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
}

.defaultWarningButton {
    background-color: var(--main-warn-color);
    width: min(300px, 15vw);
    color: #fff;
    height: auto;
}


.customButton:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.customButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
}

.buttonIcon {
    display: flex;
}
